<ul class="nav nav-pills nav-pills-icons nav-pills-rose" role="tablist">
  <li class="nav-item" *ngFor="let navPill of navPills; let i = index">
    <a
      class="nav-link"
      [ngClass]="{ active: navPill.isActive }"
      data-toggle="tab"
      href="#"
      role="tablist"
      (click)="onClick($event, i)"
    >
      <i class="material-icons">{{ navPill.icon }}</i>
      <span>{{ navPill.label }}</span>
    </a>
  </li>
</ul>
<div class="tab-content tab-space">
  <ng-container *ngIf="navPills[0].isActive">
    <app-chart [points]="[5, 14, 2, 6, 2, 8, 5]" [baseline]="7"></app-chart>
  </ng-container>
  <ng-container *ngIf="navPills[1].isActive">
    <h2>second tab</h2>
  </ng-container>
  <ng-container *ngIf="navPills[2].isActive">
    <app-chart [points]="[2, 4, 5, 3, 8, 9, 7]" [baseline]="3"></app-chart>
  </ng-container>
  <ng-container *ngIf="navPills[3].isActive">
    <h2>third tab</h2>
  </ng-container>
</div>
