<div class="wrapper wrapper-full-page">
  <div
    class="page-header header-filter"
    filter-color="black"
    style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">
      <div class="row">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">
              Navigation Pills Icons -
              <small class="description">Vertical Tabs</small>
            </h4>
          </div>
          <div class="card-body ">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <ul
                  class="nav nav-pills nav-pills-rose nav-pills-icons flex-column"
                  role="tablist"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      data-toggle="tab"
                      href="#link10"
                      role="tablist"
                      ><i class="material-icons">dashboard</i> Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-toggle="tab"
                      href="#link11"
                      role="tablist"
                      ><i class="material-icons">schedule</i> Settings
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
                  <div class="tab-pane" id="link10">
                    Collaboratively administrate empowered markets via
                    plug-and-play networks. Dynamically procrastinate B2C users
                    after installed base benefits. <br /><br />
                    Dramatically visualize customer directed convergence without
                    revolutionary ROI. Collaboratively administrate empowered
                    markets via plug-and-play networks. Dynamically
                    procrastinate B2C users after installed base benefits.
                    <br /><br />
                    Dramatically visualize customer directed convergence without
                    revolutionary ROI. Collaboratively administrate empowered
                    markets via plug-and-play networks. Dynamically
                    procrastinate B2C users after installed base benefits.
                  </div>
                  <div class="tab-pane active" id="link11">
                    <app-chart></app-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
