<div class="wrapper wrapper-full-page">
	<div
		class="page-header header-filter"
		filter-color="black"
		style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;"
	>
		<div class="container">
			<div class="mb-5 mt-5 text-center">
				<button mat-raised-button class="btn btn-primary btn-round btn-lg">
					<i
						class="material-icons"
						aria-hidden="true"
						style="transform: translateX(-8px); font-size: 36px;"
						>video_call</i
					>
					Start streaming
				</button>
			</div>
			<div class="mb-5 mt-5 text-center">
				<h2>Now streaming</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 ">
					<div class="card card-stats card-stream">
						<div class="card-header card-header-icon">
							<div class="card-icon rounded-circle">
								<i class="material-icons">person</i>
							</div>
							<p class="card-category">John Doe</p>
							<h3 class="card-title">
								This is my first stream
							</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">visibility</i>
								<span>42</span>
							</div>
						</div>
					</div>
				</div>

				<!-- TODO: Remove -->
				<div class="col-lg-4 col-md-6 col-sm-6 ">
					<div class="card card-stats card-stream">
						<div class="card-header card-header-icon">
							<div class="card-icon rounded-circle">
								<i class="material-icons">person</i>
							</div>
							<p class="card-category">John Doe</p>
							<h3 class="card-title">
								This is my first stream
							</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">visibility</i>
								<span>42</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6 ">
					<div class="card card-stats card-stream">
						<div class="card-header card-header-icon">
							<div class="card-icon rounded-circle">
								<i class="material-icons">person</i>
							</div>
							<p class="card-category">John Doe</p>
							<h3 class="card-title">
								This is my first stream
							</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">visibility</i>
								<span>42</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6 ">
					<div class="card card-stats card-stream">
						<div class="card-header card-header-icon">
							<div class="card-icon rounded-circle">
								<i class="material-icons">person</i>
							</div>
							<p class="card-category">John Doe</p>
							<h3 class="card-title">
								This is my first stream
							</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">visibility</i>
								<span>42</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6 ">
					<div class="card card-stats card-stream">
						<div class="card-header card-header-icon">
							<div class="card-icon rounded-circle">
								<i class="material-icons">person</i>
							</div>
							<p class="card-category">John Doe</p>
							<h3 class="card-title">
								This is my first stream
							</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">visibility</i>
								<span>42</span>
							</div>
						</div>
					</div>
				</div>
				<!-- End Remove -->
			</div>
		</div>
	</div>
</div>
