<div class="wrapper wrapper-full-page">
  <div
    class="page-header header-filter"
    filter-color="black"
    style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">
      <div class="row">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">
              Navigation Pills -
              <small class="description">Horizontal Tabs</small>
            </h4>
          </div>
          <div class="card-body ">
            <app-nav-pills></app-nav-pills>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
