<nav
  class="navbar mt-2 navbar-expand-lg bg-primary navbar-transparent navbar-absolute"
  color-on-scroll="500"
  *ngIf="isLoggedIn"
>
  <div class="container">
    <div class="navbar-wrapper">
      <a
        class="navbar-brand d-none d-sm-block"
        routerLink="/"
        style="transform: translateY(-7px)"
      >
        <img
          src="assets/img/FusionDataGuardLogo-on-dark.svg"
          width="64px"
          height="auto"
          class="mr-2"
        />
        <strong>Fusion Data Guard</strong>
      </a>
    </div>
    <button
      mat-button
      class="navbar-toggler"
      type="button"
      (click)="sidebarToggle()"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link m-0" routerLink="/register">
              <mat-icon>person_add</mat-icon>
              <span>Register</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link m-0" routerLink="/login">
              <mat-icon>how_to_reg</mat-icon>
              <span>Login</span>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link m-0"
              role="button"
              style="cursor: pointer; -webkit-tap-highlight-color: transparent; user-select: none;"
              aria-label="enable voice over"
              [attr.aria-pressed]="isVoiceOverOn"
              (click)="toggleVoiceOver()"
            >
              <mat-icon class="mat-icon--on mr-1">
                record_voice_over
              </mat-icon>
              <mat-icon class="mat-icon--off mr-1">
                voice_over_off
              </mat-icon>
              <span>Voice Over</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link m-0" routerLink="/logout">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log Out</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
