@import 'bootstrap/scss/bootstrap-grid.scss';
// @import 'bootstrap/scss/_variables.scss';

/* You can add global styles to this file, and also import other style files */
.mat-raised-button {
  .mat-button-ripple {
    &.mat-ripple {
      & > * {
        background: rgba(#fff, 0.235) !important;
      }
    }
  }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(#ab47bc, 0.235) !important;
}

.mat-option {
  &:hover {
    background: rgba(#ab47bc, 0.12) !important;
  }

  .mat-option-ripple {
    & > * {
      background: rgba(#ab47bc, 0.12) !important;
    }
  }
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: rgba(#000, 0.87) !important;
}

.mat-form-field-infix {
  border-top: 0.5rem solid transparent !important;
}

.q-row {
  display: flex;

  mat-form-field.mat-form-field {
    width: auto;
    flex-grow: 1;
    display: inline-block;
  }

  mat-form-field {
    min-width: 48px;
  }

  .q-button-group.q-right-align {
    order: 5;
    flex-grow: auto;
  }
}

mat-expansion-panel-header {
  height: 54px !important;

  .mat-content {
    overflow: visible;
  }

  .mat-badge-medium.mat-badge-above {
    .mat-badge-content {
      top: -6px;
    }
  }

  .mat-badge-medium.mat-badge-after {
    .mat-badge-content {
      right: -24px;
    }
  }
}

mat-bottom-sheet-container.mat-bottom-sheet-container {
  width: calc(100vw - 54px) !important;
  max-height: calc(100vh) !important;
}
