<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matBadge="2" matBadgeOverlap="false">
          Market Data Alerts
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion multi displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              USD/CNY Spike Detected
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-chart
          [points]="mkdData.points"
          [labels]="mkdData.labels"
        ></app-chart>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              EUR/GBP Missing Price 2019-12-05
            </span>
            <!-- TODO: Add table; remove 6th column -->
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-chart
          [points]="mkdData.points"
          [labels]="mkdData.labels"
        ></app-chart>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matBadge="2" matBadgeOverlap="false">
          Static Data Alerts
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion multi displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              CUST1 Swift code missing; LEI missing
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              Instrument1 ISIN malformed: US00040262
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matBadge="1" matBadgeOverlap="false">
          Barrier Monitoring
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion multi displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              EUR/USD Barrier Breached
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-chart
          [points]="staticData.points"
          [baseline]="staticData.baseline"
          [labels]="staticData.labels"
        ></app-chart>
        <app-data-table
          [data]="[
            {
              entity: 'FundA',
              instrument: 'EUR/USD',
              'asset value': 10079,
              'market value': 1079.1,
              currency: 'EUR',
              nav: 1078.2,
              balance: 5002.3
            },
            {
              entity: 'FundB',
              instrument: 'EUR/USD OPT',
              'asset value': 5283.321,
              'market value': 502.7,
              currency: 'EUR',
              nav: 5281.12,
              balance: 5011.2
            }
          ]"
        ></app-data-table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matBadge="1" matBadgeOverlap="false">
          Position Monitoring
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion multi displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              Position P&L exceeds tolerance 10%
            </span>
            <!-- TODO: Add a graph with 7 datapoints  -->
            <!-- TODO: Add a table with two folios  -->
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>

  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matBadge="0" matBadgeOverlap="false" color="success">
          Compliance Breaches
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matBadge="0" matBadgeOverlap="false" color="success">
          Customers (KYC) Alerts
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Portfolio Monitoring content</p>
  </mat-expansion-panel>
</mat-accordion>
